<% provide(:title, 'Edit user') %>
<div class="container p-2 bg-light ">
  <%= render "users/shared/error_messages", resource: current_user %>
  <div class="container p-1 main-container text-muted d-flex ml-auto mr-auto">
    <div class="main-profile p-3 flex-grow-1 bg-white">
      <%= form_for current_user do |f| %>
        <div class="settings-title-section d-flex justify-content-center align-items-center flex-wrap">
          <%= link_to  current_user.username, root_path, class: "settings-username" %>
          <span class="settings-title-separator">/</span>
          <span class="settings-title p-2"><%= t('.profile')%></span>
        </div>

        <div class="form-group font-weight-bold">
          <%= t('.avatar')%><br>
          <%= image_tag  @user.default_avatar_user, class: "rounded-circle img-size-4em", id: "img-preview" %>
          <%= f.file_field :avatar, id: "img-input", accept: ".jpg, .jpeg, .png" %>
        </div>
        
        <div class="form-group font-weight-bold">
          <%= t('.name') %>
            <div class="d-flex">
              <%= f.text_field :first_name, class: 'form-control mr-1', placeholder: t('.first_name'),
              pattern: regex_name_validate, title: "Name should only contain letters. e.g. John" %>
              <%= f.text_field :last_name, class: 'form-control mr-1', placeholder: t('.last_name'),
              pattern: regex_name_validate, title: "Name should only contain letters. e.g. Wick" %>
            </div>
        </div>

        <div class="form-group">
          <%= f.label :username, class: 'font-weight-bold' %><br />
          <%= f.text_field :username, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :phone, class: 'font-weight-bold' %><br />
          <%= f.text_field :phone, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'font-weight-bold' %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: 'font-weight-bold' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
