<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="fas fa-school navbar-brand mx-2 text-info font-size-2em"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to t('.home') , root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('.list_exam'), exams_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to t('.list_user_exam'), user_exams_path, class: "nav-link"%>
      </li>
    </ul>
    <%= render 'home/language' %>
    <form class="form-inline my-2 mx-3 my-lg-0">
      <% unless current_user %>
        <%= link_to "Login", login_path, class: "btn btn-outline-success my-2 my-sm-0" %>
      <% else %>
        <div class="dropdown">
          <button class="btn btn-out-secondary my-2 my-sm-0 text-info" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %>
            <%= image_tag @user.default_avatar_user, class: 'rounded-circle img-size-2em' %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <%= link_to "Setting", profile_path, class: "dropdown-item" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item text-danger", data: { confirm: t('.confirm')} %>
          </div>
        </div>
      <% end %>
    </form>
  </div>
</nav>
