<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex">
      <h6 class="font-weight-bold text-info">
        <%= @exam.content %> &emsp;
      </h6>
      <h6 class="text-right font-weight-bold text-primary">
        <%= t('.total_question', size: @questions.size ) %>
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive-xl">
        <table class="table table-striped text-center w-100 border" id="table-tag" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th ><%= t('.content') %></th>
              <th><%= t('.point') %></th>
              <th><%= t('.answer') %></th>
            </tr>
          </thead>
          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td>
                  <%= question.id %>
                </td>
                <td class="text-info">
                  <%= question.content %>
                </td>
                <td>
                  <%= question.point %>
                </td>
                <td>
                  <ul class="list-group">
                    <% question.answers.each do |answer| %>
                      <li class="list-group-item <%= answer_correct(answer) %>">
                        <%= answer.text%>
                      </li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
