<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <h2>
      <%= @user_exam.exam_content %>
    </h2>
    <h2 class="text-primary">
      <%= @user_exam.score %>
    </h2>
  </div>
  <div class="m-4 border-bottom"></div>
  <div class="panel panel-primary ml-5 mr-5">
    <% @user_exam.exam_questions.each_with_index do |question, index|%>
      <div class="panel-heading d-flex justify-content-between">
        <h3 class="text-info">
          <%= t('.question_content', number: index.next, content: question.content) %>
        </h3>
      </div>
      <div class="panel-body ml-3">
        <ul class="list-group list-group-flush">
          <% question.answers.each do |answer|%>
            <li class="list-group-item d-flex justify-content-between <%= check_answer_correct(answer, @user_exam.user_answers) %>">
              <%= answer.text %>
              <% if answer.correct? %>
                <span class="badge badge-success badge-pill">
                  <%= question.point %>
                </span>
              <% end %>
            </li>         
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-1 column"></div>
</div>
